@using PagedList.Mvc;
@using PagedList;
@model PagedList.IPagedList<ShopOnline.Context.SanPham>

@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)

            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <a href="@Url.Action("Details", "ShopPage" ,new { id = item.MaSP })"><img style="width:220px;height:269px;" src="~/Asset/img/@item.HinhChinh"></a>
                        </div>
                        <h2><a href="@Url.Action("Details", "ShopPage" ,new { id = item.MaSP })"> @item.TenSP</a></h2>

                        <div class="product-carousel-price">
                            <h5 class="item_price">Price: @item.Gia.Value.ToString("#,##") VNĐ</h5>
                        </div>

                        <div class="product-option-shop">
                            <a href="@Url.Action("AddToCart","Cart", new { @id = item.MaSP, @strURL = Request.Url.ToString() })" class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow">Add to cart</a>
                        </div>
                    </div>
                </div>
            }



        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="product-pagination text-center">
                    <nav>
                        <ul class="pagination">
                            @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page }))

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

